<section class="content-header">
	<h1>Restaurants <small> 此界面为下单界面哦！</small></h1>
	<ol class="breadcrumb">
		<li><a ui-self="app.langing"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">User Order</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
		          <h3 class="box-title">User Order</h3>
		        </div>
		        <form class="form-horizontal" name="orderForm" novalidate>
		        <div class="box-body">
		        	<div class="form-group">
		        		<label for="inputEmail" class="col-sm2 control-label"></label>
		        		<input type="text" name="variety">
		        	</div>

		        </div>
		        <div class="box-footer">
		        	<button type="submit" class="btn btn-primary pull-right">confirm</button>
		        </div>
		        </form>
			</div>
		</div>		
	</div>
</section>
